.div {
  display: flex;
  flex-direction: row;
}

.img {
  border-radius: 100%;
}

.divGeneral {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0 2rem;
}

.ul {
  display: flex;
  align-items: center;
}

.li {
  margin: 1rem;
}