.divDolares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divCaja {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 12rem;
  min-width: 12rem;
  min-height: 8rem;
  border-radius: 1rem;
  font-family: monospace;
  align-items: stretch;
  justify-content: space-evenly;
  box-shadow: var(--chakra-shadows-lg);
  border-width: 3px;
  border-color: #276749
;color: #a0aec0;
}